name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    strategy:
      matrix:
        go-version:
          - 1.25.x
        os:
          - ubuntu

    name: build (${{ matrix.os }}/go-${{ matrix.go-version }})
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - run: make build

  qa:
    strategy:
      matrix:
        go-version:
          - 1.25.x
        os:
          - ubuntu

    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      - run: make checkfmt
      - run: make vet
      - run: go install honnef.co/go/tools/cmd/staticcheck@latest
      - run: make staticcheck
      - run: go install mvdan.cc/unparam@latest
      - run: make unparam
